.wrapper {
  flex-grow: 1;
  border-radius: 0.5rem;
  overflow: hidden;
  line-height: 1; /* fix svg vertical alignment */

  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 0.125rem;

  > * {
    padding: 0.5rem;
    border-radius: 0.125rem;
    background: var(--surface-diminished);
  }
  > .link {
    flex: 1;
    min-width: 0;    /* allow shrinking so label can truncate */
  }
  > .copyButton {
    flex-shrink: 0;  /* never shrink */
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 1ch;
}

.label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
  line-height: 1.125;
}

@media (hover: hover) {
  .link,
  .copyButton {
    transition:
      background 0.15s ease,
      color      0.15s ease;
  }
  .link:hover,
  .copyButton:hover {
    background: var(--text);
    color: var(--surface);
  }
}
