.wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 0.375rem;

  border-radius: 0.5rem;
  overflow: hidden;

  line-height: 1; /* fix svg vertical alignment */

  > * {
    padding: 0.5rem;
    border-radius: 0.25rem;
    background: var(--surface-diminished);
  }
}

.link {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1ch;
}
