.card {
  --_card-short: 2;
  --_card-long: 3.5;

  aspect-ratio: var(--_card-short) / var(--_card-long);
  max-width: 90dvw;
  max-height: 90dvh;

  background: var(--surface);
  border-radius: 1.25rem;
  overflow: hidden;
  box-shadow: 
    0 2vmin   3vmin   var(--shadow), 
    0 0.8vmin 1.2vmin var(--shadow);

  display: grid;
  grid-template-rows: 3fr 4fr;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  padding: 0 1rem 1rem 1rem;
}

@media (min-aspect-ratio: 4/3) {
  .card {
    aspect-ratio: var(--_card-long) / var(--_card-short);

    grid-template-rows: none;
    grid-template-columns: 3fr 4fr;
  }
  .info { padding: 1rem 1rem 1rem 0; }
}
